body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* sidebar */
.sidebar{
    float: left;
    background-color: #222831;
    height: 663px;
    width: 60px;
    transition: 0.5s;
    overflow: hidden;
}

.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}

.sidebar ul{
    margin-left: -40px;
}

.sidebar ul li{
    list-style: none;
    color: white;
    width: 100%;
    line-height: 30px;
}

.sidebar ul li:hover{
   background-color: #0B2997; 
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
    display: flex;
    width: 100%;

}

.sidebar ul li a .icon{
    position: relative;
    min-width: 60px;
    height: 50px;
    text-align: center;
}


/* home content */

.home-1{
    display: flex;
    flex-direction: column;
    float: left;
}
.home-1 span{
    margin-top: 5%;
    margin-left: 20%;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
}

.home-1 button{
    margin-bottom: 8%;
    margin-top: 15%;
    width: 15%;
    padding: 8px 3px;
    border-radius: 15px;
    color: black;
    font-family: 'Montserrat';
    background-color: transparent;
    margin-left: 21%;
    cursor: pointer;
}

.home-1 button a{
    text-decoration: none;
    color: black;
}

.home-1 button:hover{
    background-color: #0B2997;
    color: white;
    border: 0;
    padding: 10px 1px;
}

/* tabel content */
.tabel-content{
    margin-left: 21%;
    width: 180%;
    text-align: center;
}

.tabel-content tr td a:first-child{
    color: white;
    text-decoration: none;
    padding: 2px 15px;
    border-radius: 10px;
    background-color: #0B2997;
}

.tabel-content tr td a:nth-child(2){
    color: white;
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: red;
}

/* tabel- edit colom */
.tabel-content tr th{
    background-color: black;
    color: white;
    font-weight: 500;
    height: 40px;
}

.tabel-content tr td{
    /* background-color: #D9D9D9; */
    height: 30px;
}

/* formedit + formtambah */
.container-edit{
    display: flex;
    flex-direction: column;
    text-align: left;

}

.container-edit form{
    margin-top: 2%;
    line-height: 330%;
}

.container-edit p{
    margin-left: 20%;
}

.title-edit input{
    float: right;
    margin-right: 35%;
    padding: 8px 8px;
    width: 45%;
}

.btn-edit{
    float: right;
    margin-right: 25%;
}

.btn-edit .btn-buku{
    background-color: transparent;
    padding: 9px 15px;
    border-radius: 15px;
    color: black;
}

.btn-edit .btn-buku:hover{
    background-color: #0B2997;
    color: white;

}

.container-edit h3{
    margin-left: 10%;
    font-size: 25px;
    font-weight: bold;
}